@{
Layout = "~/Views/Shared/AboutUser.cshtml";
}
<div style="margin: 50px;">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">注册账户:</label>
            <div class="layui-input-block">
                <input class="layui-input" id="account" type="text" disabled />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名:</label>
            <div class="layui-input-block">
                <input class="layui-input" id="username" type="text" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别:</label>
            <div class="layui-input-block">
                <input class="layui-input" id="gender" type="text" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄:</label>
            <div class="layui-input-block">
                <input class="layui-input" id="age" type="text" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电子邮箱:</label>
            <div class="layui-input-block">
                <input class="layui-input" id="email" type="text" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机:</label>
            <div class="layui-input-block">
                <input class="layui-input" id="phone" type="text" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注:</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" id="remark"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">注册时间:</label>
            <div class="layui-input-block">
                <input class="layui-input" id="time" type="text" />
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-normal middle-h">提交</button>
        </div>
    </form>
</div>